<app-header></app-header>

<div class="container">
  <div class="firstSection">
    <div class="sidelinks">
      <a href="">Woman's Fashion</a>
      <a href="">Men's Fashion</a>
      <a href="">Electronics</a>
      <a href="">Home & LifeStyle</a>
      <a href="">Medicine</a>
      <a href=""> Sports & Outdoor</a>
      <a href=""> Baby's & Toys</a>
      <a href="">Groceries & Pets</a>
      <a href="">Health & Beauty</a>
    </div>
    <img
      src="/assets/10percentvoucher.png"
      alt="homepage voucher"
      width="892px"
      height="344px"
    />
  </div>
  <div class="secondSection">
    <span class="todays">
      <span></span>
      <p>Today's</p></span
    >

    <span class="flashSales">
      <h2>Flash Sales</h2>
      <span class="days">
        <small>Days |</small>
        <small> Hours |</small>
        <small> Mins |</small>
        <small> Seconds</small>
        <h3>
          <app-countercomponent [seconds]="343196"></app-countercomponent>
        </h3>
      </span>
    </span>
  </div>
  <div class="product-grid" id="electronics">
    @for (product of products; track product.id) { @if (product.category ===
    'electronics') {
    <div class="product-card" (click)="goToProduct(product.id)">
      <img [src]="product.image" alt="{{ product.title }}" />
      <h3>{{ product.title }}</h3>
      <span class="pprice">
        <p>${{ product.price }}</p>
        <s>$160</s>
      </span>
    </div>
    } }
  </div>
  <span class="btn">
    <button class="allproducts" (click)="gotToAllProducts()">
      View All Products
    </button></span
  >

  <div class="secondSection">
    <div class="secondSection">
      <span class="todays">
        <span></span>
        <p>Categories</p></span
      >
      <div class="browsing">
        <span class="flashSales">
          <h2>Browse By Category</h2>
        </span>
        <app-categories></app-categories>
      </div>
    </div>
  </div>
  <div class="secondSection">
    <span class="todays">
      <span></span>
      <p>Our Products</p></span
    >

    <span class="flashSales">
      <h2>women's clothing</h2>
    </span>
    <div class="product-grid">
      @for (product of products; track product.id) { @if (product.category ===
      "women's clothing") {
      <div class="product-card">
        <img [src]="product.image" alt="{{ product.title }}" />
        <h3>{{ product.title }}</h3>
        <span class="pprice">
          <p>${{ product.price }}</p>
          <s>$160</s>
        </span>
      </div>
      } }
    </div>
  </div>
  <img
    src="/assets/enhanceYourMusic.png"
    alt="enhanceyourmusic"
    class="enhanceyourmusic"
  />
  <div class="secondSection">
    <span class="todays">
      <span></span>
      <p>Our Products</p></span
    >

    <span class="flashSales">
      <h2>men's clothing</h2>
    </span>
    <div class="product-grid">
      @for (product of products; track product.id) { @if (product.category ===
      "men's clothing") {
      <div class="product-card">
        <img [src]="product.image" alt="{{ product.title }}" />
        <h3>{{ product.title }}</h3>
        <span class="pprice">
          <p>${{ product.price }}</p>
          <s>$160</s>
        </span>
      </div>
      } }
    </div>
  </div>
  <span class="btn">
    <button class="allproducts" (click)="gotToAllProducts()">
      View All Products
    </button></span
  >
  <span class="todays">
    <span></span>
    <p>Our Products</p></span
  >
  <span class="flashSales">
    <h2>New Arrival</h2>
  </span>
  <div class="imagesSection">
    <div class="psSection">
      <a href=""><img src="/assets/ps5.png" alt="ps5" /></a>
    </div>
    <div class="othersSection">
      <a href="">
        <img src="/assets/womensCollection.png" alt="womenscollection" />
      </a>
      <div class="doublepics">
        <img src="/assets/speakers.png" alt="speakers" />
        <img src="/assets/perfume.png" alt="perfume" />
      </div>
    </div>
  </div>
  <div class="services">
    <div class="fourthSection">
      <span *ngFor="let s of services">
        <img [src]="s.image" alt="services" />
      </span>
    </div>
  </div>
</div>

<app-footer></app-footer>
