@if(loading){
<p>Loading product details...</p>
} @else{
<app-header></app-header>
<p class="error">{{ error }}</p>
<div class="container">
  <div class="product-details">
    <div class="images">
      <div class="verticalimages">
        <img [src]="product.image" alt="productimage" /><img
          [src]="product.image"
          alt="productimage"
        /><img [src]="product.image" alt="productimage" /><img
          [src]="product.image"
          alt="productimage"
        />
      </div>
      <div class="biggestimage">
        <img [src]="product.image" alt="productimage" />
      </div>
    </div>
    <div class="details">
      <h2>{{ product.title }}</h2>
      <h2>${{ product.price }}</h2>
      <p>{{ product.description }}</p>
      <div class="form">
        <span class="color-selector">
          <h3>Color:</h3>
          <label>
            <input type="radio" name="color" value="red" />
            <span class="color-circle red"></span>
          </label>
          <label>
            <input type="radio" name="color" value="white" />
            <span class="color-circle white"></span>
          </label>
        </span>

        <span class="size-selector">
          <h3>Size:</h3>
          <label>
            <input type="radio" name="size" value="XS" /> <span>XS</span>
          </label>
          <label>
            <input type="radio" name="size" value="S" /> <span>S</span>
          </label>
          <label>
            <input type="radio" name="size" value="M" /> <span>M</span>
          </label>
          <label>
            <input type="radio" name="size" value="L" /> <span>L</span>
          </label>
          <label>
            <input type="radio" name="size" value="XL" /> <span>XL</span>
          </label>
        </span>
        <div class="quantityAndCart">
          <span class="favAndCart">
            <button (click)="addToCart()">Add to Cart</button>
            @if(added===true){
            <span>item added to cart!</span>
            }
            <img
              [src]="
                isFavorite() ? '/assets/fav-filled.png' : '/assets/favorite.png'
              "
              alt="favorite icon"
              width="30px"
              height="30px"
              (click)="toggleFavorite()"
            />
          </span>
        </div>
      </div>
      <!-- <img src="/assets/freeandFastDeliver.png" alt="freeandFastDeliver" /> -->
    </div>
  </div>
  <span class="todays">
    <span></span>
    <p>Related Item</p></span
  >
  <div class="product-grid" id="electronics">
    @for (p of products; track p.id) { @if (p.category === product.category) {
    <div class="product-card" (click)="goToProduct(p.id)">
      <img [src]="p.image" alt="{{ product.title }}" />
      <h3>{{ p.title }}</h3>
      <span class="pprice">
        <p>${{ p.price }}</p>
        <s>$160</s>
      </span>
    </div>
    } }
  </div>
</div>
<app-footer></app-footer>
}
<!-- <img [src]="product.image" alt="{{ product.title }}" class="product-image" />
  <h2>{{ product.title }}</h2>
  <p class="price"><strong>Price:</strong> ${{ product.price }}</p>
  <p><strong>Category:</strong> {{ product.category }}</p>
  <p><strong>Description:</strong> {{ product.description }}</p> -->
